body {
	background:#222 none repeat scroll 0 0;
	color:#666;
	padding:0;
	margin:0;
}
div{
	padding:0;
	margin:0;
}
 	
#top{
	clear:both;
	top: 0px;
	z-index: 999;
	left: 0px;
	width: 100%;
	position: fixed;
}
#top ul{
	padding:0; margin:0; list-style:none; width:300px; clear:both;
}
#top li{
	padding:0; margin:0; list-style:none; float:left; width:50px; height:50px;
}
#main{
	width: 100%;
	top: 55px;
	z-index: 999;
	left: 0px;
	position: fixed;
	clear:both;
}
#maincontent{
	width:94%;
	margin:0 auto;
}
#sendbutton{
	width:94%;
	margin:0 auto;
	text-align:left;
}
#sendbuttonright{
	float:right;
	color:white;
	font-size:9px;
	padding-top:35px;
}
#sendtxt{
	width:94%;
	margin:0 auto;
	text-align:center;
}
#sendtxt textarea{
	width:100%;
	height:100px;
}
#sendoptionsbutton{
	width:94%;
	margin:0 auto;
	text-align:right;
}
#sendoptions{
	width:94%;
	margin:0 auto;
	text-align:center;
}
#bottom{
	background-color:#FFFFFF;
	clear:both;
	/*float at bottom*/
	z-index: 999;
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	_position: absolute; /* for IE6 */
	_top: expression(documentElement.scrollTop + documentElement.clientHeight-this.offsetHeight); /* for IE6 */
	overflow: visible;
}
#bottom ul{
	padding:0; margin:0; list-style:none; width:100%; clear:both;
}
#bottom li{
	padding:0; margin:0; list-style:none; float:left; width:33%;display: table-cell; height:40px;line-height:40px;text-align:center;overflow: hidden;vertical-align: middle;
}